# Project files
.settings
.classpath
.project
.factorypath
.gradle
.vscode-test
.idea
*.iml
.DS_Store

# Build files
node_modules
bin
build
target
out
__pycache__
*.vsix

# Automatically downloaded
install
syntaxes
