.vscode/**
.idea/**
.vscode-test/**
.gradle/**
.settings/**
.gitignore
.travis.yml
*.iml

src/**
scripts/**

lib/**
gradle/**

out/**
node_modules/**
bin/**
build/**

# Automatically downloaded
resources/langServerInstall
resources/debugAdapterInstall

tsconfig.json
tslint.json

.editorconfig
.classpath
.project
build.gradle
gradle.properties
gradlew
gradlew.bat
TODO.md
pom.xml
